:root {
    --secondary-blue : #0ea5e9;
    --main-gray : rgb(208, 215, 233);

}

.wrapper {
    height : 1000px;
    display : grid;
    grid-template-columns : auto 3fr;
    grid-template-rows : auto 1fr;
}

body {
    margin : 0px;
}

* {
    box-sizing: border-box;
    font-family : 'Roboto', sans-serif; 
}

.sidebar {
    color : white;
    font-weight : bold;
    background-color: var(--secondary-blue);
    grid-row : 1 / span 2;
    display : grid;
    padding : 33px 50px 0px 15px;
    column-gap : 8px;
    grid-template-columns : auto auto;
    grid-template-rows : 60px repeat(5,30px) 60px;
    grid-auto-rows: 30px;
    justify-items : center;
}

.logo-text,
.menu-text {
    justify-self : flex-start;
}

.logo-text {
    max-height : 30px;
    font-size : 26px;
}

.logo-icon {
    max-height : 30px;
    height : 100%;
}
.menu-text {
    font-size : 16px;
}

.menu-icon {
    height : 16px;
}

.content {
    background-color: gray;
}

.header {
    font-weight : bold;
    background-color: white;
}

.logo-text::after {
    height : 100px;
    background-color: red;
    content : "";
}

.sidebar img:not(:first-of-type) {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(86deg) brightness(104%) contrast(101%);
}

/* HEADER */

.first-row {
    display : grid;
    align-items : center;
    grid-template-columns : 1fr auto auto auto;
    padding : 20px 50px;
    gap : 20px;
}

.first-row>*:nth-child(1n + 2) {
    justify-self : center;
}

.first-row form {
    display : grid;
    grid-template-columns : auto minmax(100px,0.9fr);
    justify-content: start;
    gap : 10px;
}

.profile-pic {
    width : 50px;
    height : 50px;
    background-color : gray;
    border-radius : 50%;
}
.first-row form input {
    border-radius : 20px;
    padding : 5px 18px;
    background-color: var(--main-gray);

    border : 0px solid white;
    outline: 0px solid white;
}


.search-button {
    display: block;
    border: none;
    padding: 14px;
    margin: 0;
    text-decoration: none;
    background-image: url("icons/magnify.svg");
    background-repeat : no-repeat;
    background-size:contain;
    background-color :rgba(235, 235, 235, 0);
    filter: invert(41%) sepia(63%) saturate(4%) hue-rotate(346deg) brightness(105%) contrast(90%);
    color: #ffffff;
    background-position : center;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.search-button:hover,
.search-button:focus {
    background-color :rgba(235, 235, 235, 0);
}
.search-button:active {
    transform: scale(0.99);
}

.big {
    height : 80px;
    width : 80px;
    grid-row : 1/3;
}

.profile-pic {
    background-image: url("icons/pexels-photo-416160.jpeg");
    background-position : center;
    background-size : cover;
}

.second-row {
    display : grid;
    grid-template-columns : auto 1fr auto auto auto;
    grid-template-rows : auto auto;

    align-items : center;
    padding : 0px 80px;
    padding-right : 50px;
    column-gap : 20px;
    padding-bottom : 20px;
}

.top {
    grid-row : 1;
    align-self : end;
}

.bottom {
    align-self: start;
    grid-row : 2;
}


.nav-button {
    grid-row : 1/3;
    background-color: var(--secondary-blue);
    border : none;
    outline : none;
    border-radius : 20px;
    padding : 10px 30px;
    color : white;
    font-size : 14px;
    font-weight : bold;
}


/* CONTENT */

.content {
    background-color: var(--main-gray);
    display : grid;
    grid-template-columns : 2.5fr 1fr; 
    grid-template-rows : auto 1fr;
    padding : 30px 20px 60px;
}

.content h2 {
    margin-bottom : 15px;
    color : rgb(71, 71, 71);
}

.projects {
    grid-row : 1/3;
    display : grid;

    grid-template-rows:auto 1fr;
}


h2,h3,p {
    margin : 0px;
    padding : 0px;
}

.projects-container {
    display : grid;
    grid-template-columns : repeat(auto-fit , minmax(325px,max-content));
    gap : 20px;
}

.project-card {
    display : grid;
    grid-template-rows : 25px auto auto;
    background-color: white;
    padding : 30px 20px;
    max-width : 325px;
    align-items : start;
    border-radius : 12px;
    border-left : 8px solid rgb(223, 153, 14);
}
.project-card>h3 {
    margin : 0px;
    padding : 0px;
    margin-block-start : 0px;
    margin-block-end : 0px;
}

.project-card>.react-footer {
    margin-top : auto;
    display : grid;
    grid-auto-flow : column;
    justify-content : flex-end;
    gap : 20px;
    
}

.smaller {
    border : none;
    border-radius : 0px;
    padding : 0px;
}

.smaller>p {
    margin : 0px;
}

.smaller:not(:first-child) {
    border-top : 2px solid gray;
    padding-top : 20px;
}

.project-card>p {
    color : rgb(83, 83, 83);
}
.announcements-container {
    padding : 50px 30px;
    background-color: white;
    display : grid;
    grid-template-columns: auto;
    gap : 20px;
}

.announcements {
    margin-bottom : 60px;
}

.trending-container {
    background-color: white;
    padding : 30px;
    display : grid;
    gap : 30px;
}

.trending-container p {
    color : rgb(83, 83, 83);
}

.profile-container {
    display : grid;
    grid-template-columns : auto auto;
    align-items : center;
    column-gap: 15px;
    justify-content : start;
}

.profile-container>.profile-pic {
    grid-row : 1/3;
}